KAFKA_IMAGE=apache/kafka:4.3.1
KAFKA_HOST_PORT=9093
KAFKA_UI_IMAGE=ghcr.io/kafbat/kafka-ui:v1.5.0
KAFKA_UI_HOST_PORT=8088

POSTGRES_IMAGE=postgres:17-alpine
POSTGRES_HOST_PORT=5433
POSTGRES_USER=kafka_order
POSTGRES_PASSWORD=kafka_order_local

